@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.responsive-padding{
  @apply 2xl:px-80 xl:px-60 lg:px-40 md:px-20 sm:px-4
}

.nav-bar-hover{
  height: 50%;
  width: 50%;
  background-color: white;
  transition: width 300ms ease-in-out;
}

.nav-bar-hover:hover{
  width: 100%;
}